.Header {
  width: 293px;
  height: auto;
  background-color: #0f1738;
}
.Header_top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 18px;
}
.header_top_title {
  margin-right: 180px;
}
.header_middle_ul ul li {
  list-style: none;
}
.listitmes {
  padding: 10px 0;
}
.header_bottom_div ul li {
  list-style: none;
}
.header_bottom_data {
  padding: 10px 0;
}
.header_bottom_div {
  margin-top: 150px;
  font-size: 16px;
}
.bottom {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.header_bottom_div_bottom_img img {
  width: 50px;
  border-radius: 30%;
  margin-left: 10px;
}
.bottom {
  padding: 0 10px;
}
.header_bottom_div_bottom_title {
  font-size: 14px;
  margin-right: 25px;
}
.header_bottom_div_bottom_title_name {
  opacity: 0.5;
  margin-top: -11px;
}
.listitmes.active {
  border: 1px solid whitesmoke;
  width: 220px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding-left: 2px;
  background-color: rgb(160, 156, 156);
  margin-left: -4px;
}
.bottom_div ul li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}
